html {
    font-family: 'Raleway', sans-serif;
}

i, h1, h2, h3, h4, h5 {
  font-family: 'Gelasio', serif;
}

nav {
  background-color: #fff;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: rgb(180,12,35);
}

i a {
  text-decoration: none;
  color: rgb(180,12,35);
}

.logo {
  text-align: center;
}

.banner {
  overflow: hidden;
  position: relative;
  background-position: center center;
  max-height: 24em;
}

.banner-text {
  position: absolute;
  width: 50%;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background-color: rgb(180,12,35, .7);
}

.xs-bg {
  background-color: rgb(180,12,35);
  margin: 0;
}

.white-text {
  color: white;
}

.card {
  border-width: 1.25px;
  border-style: solid;
  border-radius: 10px;
  text-decoration: none;
  /*height: ;*/
}

.card a {
  color: rgb(180,12,35);
  text-decoration: none;
}


@media only screen and (min-width: 25em) {

  .logo {
    text-align: left;
  }

  nav {
    text-align: right;
  }

}
